<a href="https://colab.research.google.com/github/rkb2023-tech/MachineLearning/blob/main/PyhonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Syntax(Production Style)**

In [3]:
#Clean Variable Naming
rssi = -62
retry_rate = 0.08
client_mac = "AA:BB:CC:DD:EE:FF"

In [4]:
print(rssi, retry_rate, client_mac)

-62 0.08 AA:BB:CC:DD:EE:FF

In [5]:
#Conditional Logic
if rssi < -70:
    signal_quality = "poor"
else:
    signal_quality = "good"

In [6]:
#Functions
def classify_signal(rssi):
    if rssi < -70:
        return "poor"
    elif rssi < -60:
        return "fair"
    return "good"

In [10]:
print(classify_signal(-65))
print(classify_signal(-75))

fair
poor

In [11]:
#Error Handling
def safe_float(value):
    try:
        return float(value)
    except:
        return None

In [14]:
print(safe_float(0.002))

0.002

In [15]:
#Lists
rssi_samples = [-65, -66, -68, -70, -72]

In [18]:
print(rssi_samples)

[-65, -66, -68, -70, -72]

In [1]:
#Create a list of the first 20 positive integers. Print the list.
lst = list(range(1, 21))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
### Assignment 2: Accessing List Elements
#Print the first, middle, and last elements of the list created in Assignment 1.
print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) // 2]}")
print(f"Last element: {lst[-1]}")

First element: 1
Middle element: 11
Last element: 20

In [7]:
### Assignment 3: List Slicing
#Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.
print(f"First five elements: {lst[:5]}")
print(f"Last five elements: {lst[-5:]}")
print(f"Elements from index 5 to 15: {lst[5:16]}")

First five elements: [1, 2, 3, 4, 5]
Last five elements: [16, 17, 18, 19, 20]
Elements from index 5 to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [8]:
### Assignment 4: List Comprehensions
#Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
### Assignment 5: Filtering Lists
#Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.
evens = [x for x in lst if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
### Assignment 6: List Methods
#Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [6, 8, 5, 13, 18, 1, 14, 18, 12, 13, 10, 3, 17, 8, 14]
Sorted in ascending order: [1, 3, 5, 6, 8, 8, 10, 12, 13, 13, 14, 14, 17, 18, 18]
Sorted in descending order: [18, 18, 17, 14, 14, 13, 13, 12, 10, 8, 8, 6, 5, 3, 1]
List with duplicates removed: [1, 3, 5, 6, 8, 10, 12, 13, 14, 17, 18]

In [11]:
### Assignment 7: Nested Lists
#Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at second row and third column: 6

In [12]:
### Assignment 8: List of Dictionaries
#Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

In [13]:
### Assignment 9: Matrix Transposition
#Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

transposed = []

for i in range(len(matrix[0])):
    row = []
    for j in range(len(matrix)):
        row.append(matrix[j][i])
    transposed.append(row)

In [16]:
### Assignment 10: Flattening a Nested List
#Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)
for sublist in nested_list:
  print(sublist)

Original nested list:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [17]:
### Assignment 11: List Manipulation

#Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.
lst = list(range(1, 11))
print(f"Original list: {lst}")
del lst[6]
del lst[4]
del lst[2]
lst.insert(5, 99)
print(f"Modified list: {lst}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

In [18]:
### Assignment 12: List Zipping
#Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [19]:
### Assignment 13: List Reversal
#Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

In [20]:
### Assignment 14: List Rotation
#Write a function that rotates a list by n positions. Print the original and rotated lists.
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

In [21]:
### Assignment 15: List Intersection
#Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.
def list_intersection(lst1, lst2):
    return [x for x in lst1 if x in lst2]

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list_intersection(list1, list2)
print(f"List 1: {list1}")
print(f"List 2: {list2}")
print(f"Intersection: {intersection}")

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Intersection: [3, 4, 5]