<a href="https://colab.research.google.com/github/rkb2023-tech/MachineLearning/blob/main/3_Python_Sets_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

In [1]:
### Assignment 1: Creating and Accessing Sets
#Create a set with the first 10 positive integers. Print the set.
s = set(range(1, 11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
### Assignment 2: Adding and Removing Elements
#Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.
s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [19]:
### Assignment 3: Set Operations
#Create two sets: one with the first 5 positive integers and another with the first 5 even integers.
#Perform and print the results of union, intersection, difference, and
#symmetric difference operations on these sets. - Symmetric Difference = elements that are in either set, but NOT in both.
set1 = set(range(1, 6))
print(f"Elements of set1: {set1}")
set2 = set(range(2, 11, 2))
print(f"Elements of set2: {set2}")
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Elements of set1: {1, 2, 3, 4, 5}
Elements of set2: {2, 4, 6, 8, 10}
Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [7]:
### Assignment 4: Set Comprehensions
#Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.
squares = {x**2 for x in range(1, 11)}
print(squares)
for value in sorted(squares):
    print(value)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
1
4
9
16
25
36
49
64
81
100

In [8]:
### Assignment 5: Filtering Sets
#Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.
evens = {x for x in s if x % 2 == 0}
print(evens)

{2, 4, 6, 8, 10}

In [9]:
### Assignment 6: Set Methods
#Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.
s = {1, 2, 2, 3, 4, 4, 5}
unique_s = set(s)
print(unique_s)

{1, 2, 3, 4, 5}

In [10]:
### Assignment 7: Subsets and Supersets
#Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.
set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

In [11]:
### Assignment 8: Frozenset
#Create a frozenset with the first 5 positive integers. Print the frozenset.
#A frozenset is an immutable (unchangeable) version of a set.
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [12]:
fs.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

In [13]:
a = frozenset([1, 2, 3])
b = frozenset([3, 4, 5])

print(a | b)   # union
print(a & b)   # intersection
print(a - b)   # difference

frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})

In [14]:
### Assignment 9: Set and List Conversion
#Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

In [15]:
### Assignment 10: Set and Dictionary
#Create a dictionary with set keys and integer values. Print the dictionary.
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [16]:
### Assignment 11: Iterating Over Sets
#Create a set and iterate over the elements, printing each element.
s = set(range(1, 6))
for elem in s:
    print(elem)

1
2
3
4
5

In [17]:
### Assignment 12: Removing Elements from Sets
#Create a set and remove elements from it until it is empty. Print the set after each removal.
s = set(range(1, 6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [18]:
### Assignment 13: Set Symmetric Difference Update
#Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [20]:
### Assignment 14: Set Membership Testing
#Create a set and test if certain elements are present in the set. Print the results.
s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [21]:
### Assignment 15: Set of Tuples
#Create a set containing tuples, where each tuple contains two elements. Print the set.
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}